@page
@model CookBook.Pages.Recipes.ListModel
@{
}

<h1>Kitchen Recipes</h1>


<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" 
                   asp-for="SearchTerm" />
                   <span></span>
              <button class="btn btn-danger btn-search"><i class="fa fa-search"></i>Szukaj</button>
                </span>
        </div>
    </div>
</form>

<div class="row">
@foreach (var recipe in  Model.Recipes)
{
    <partial name="_RecipeCard" model="recipe" />
}
</div>

<div>
    <a asp-page="./Edit" class="btn btn-primary my-2">Add New</a>
</div>





