@page
@model KitchenBook.Pages.Recipes.ListModel
@{
}

<h1>Kitchen Recipes</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" 
                   asp-for="SearchTerm" />
            <span>
                <button class="btn btn-default"> Szukaj
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>


<table class="table">
    @foreach (var recipe in  Model.Recipes)
    {
        <tr>
            <td>@recipe.Name</td>
            <td>@recipe.Description</td>
            <td>@recipe.Cuisine</td>
            <td><a class="btn btn-lg"
           asp-page="./Detail"
           asp-route-recipeId="@recipe.Id">Szczegóły
            <i class="fa fa-search-plus"></i>
        </a></td> 
        </tr>

    }
</table>